.current {
  color: green;
}

.container-md {
  max-width: 720px;
}

.post-div {
  padding: 0.5rem 1rem;
}

.div-button-block {
  height: 120px;
}

.a-text-decoration-none {
  text-decoration: none;
}
